.header {
  border: 0px solid black;
  border-radius: 0px;
  padding: 0px;
  margin: 0px;
}

.card {
  border-radius: 25px;
  border: 1px solid #999999;
}

.card-title {
  font-size: 1em;
  color: gray;
  margin: 0px;
}

.card-body {
  padding-top: 0px;
  padding-bottom: 10px;
}

.divisor {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: black;
  height: 1px;
}

h5 {
  font-size: 1.6em;
  color: white;
  margin: 0px;
}

.text-start {
  text-align: start;
  color: white;
  font-size: 1rem;
  font-weight: 500;
}

.text-end {
  text-align: end;
  color: white;
  font-size: 1rem;
  font-weight: 500;
}

.text-center-top {
  text-align: center;
  color: white;
  font-size: 3rem;
  font-weight: 600;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.dropdown-toggle {
  color: white;
  font-size: 1rem;
  font-weight: 500;
}
